---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Color Palette
$color1: #1E1E1E;
$color2: #5A8F29;
$color3: #FFFFFF;

// Our variables
$base-font-family: 'Raleway', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$small-font-size:        $base-font-size * 0.875;
$social-icon-font-size:  28px;
$sidebar-menu-font-size: 25px;
$banner-title-font-size: 48px;
$banner-desc-font-size:  18px;

$banner-title-font-family: 'Oswald', sans-serif;

$article-list-date-font-size:  14px;
$article-list-title-font-size:  18px;
$article-list-headl-font-size:  14px;
$article-list-headr-font-size:  18px;

$post-title-font-size:    28px;
$post-nav-font-size:      14px;
$post-nav-icon-font-size: 22px;

$spacing-unit:     30px;

$text-color:        $color1;
$background-color:  $color3;
$highlight-color:   $color2;

$overlay-bac-color: #000000;

$banner-bac-color:       $color1;
$banner-color:           $color3;
$banner-highlight-color: lighten($highlight-color, 20%);

$sidebar-bac-color :      $color2;
$sidebar-color :          $color3;
$sidebar-highlight-color: darken($sidebar-bac-color, 20%);

$article-list-head-bac-color    : $color3;
$article-list-head-color        : $color2;
$article-list-head-border-color : lighten($article-list-head-color, 20%);
$article-list-border-color : #CCCCCC;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$sidebar-width: 260px;
$sidebar-init-width: 55px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin blur($amount) {
  filter:blur($amount);
  -webkit-filter: blur($amount);
  -moz-filter: blur($amount);
}

@mixin transition($prop, $duration) {
  -webkit-transition: $prop $duration ease;
  transition: $prop $duration ease;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// import font
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "spinner",
        "layout",
        "syntax-highlighting",
        "typed"
;
