---
layout: default
title: Home
order: 1
---

<div id="container">

  <div id="bannerBac"></div>
  <img id="containerBac" src="images/DSC_5001_bw.jpg" alt="" />
  <div id="containerOverlay"></div>

  <div id="banner">
    <div id="bannercontent">
      <h1 class="title"><a href="{{ page.url | prepend: site.baseurl }}">Hi, I am {{ site.title }}.</a></h2>
      <h2 class="description">{{ site.description }}</h1>
      {% include social-links.html %}
    </div>
  </div>

  {% include sidebar.html %}

</div>

<script src="js/typed.min.js"></script>
<script src="js/main.js"></script>
