<aside id="sidebar" style="{{ include.style }}">
  <a id="menuBtn" class="icon-bars navBtn" title="Menu"></a>
  <a id="menuCloseBtn" class="icon-times navBtn" title="Close"></a>
  <div id="sidebar-content">
    <ul>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
            {% if page.name != my_page.name %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a></li>
            {% else %}
              <li><span>{{ my_page.title }}</span></li>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>

    {% if page.name != 'index.html' %}
      {% include social-links.html %}
    {% endif %}

  </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</aside>
