<aside id="sidebar">
  <a id="menuBtn" class="icon-bars navBtn" title="Menu" href="#"></a>
  <a id="menuCloseBtn" class="icon-times navBtn" title="Close" href="#"></a>
  <div id="sidebar-content">
    <ul>

      {% if page.name != 'index.html' %}
        <li><a href="/" title="Home">Home</a></li>
      {% else %}
        <li><span>Home</span></li>
      {% endif %}

      {% if page.name != 'blog.html' %}
        <li><a href="blog.html" title="Blog">Blog</a></li>
      {% else %}
        <li><span>Blog</span></li>
      {% endif %}
      
      <li><a href="#resume" title="Resume">Resume</a></li>
    </ul>
    {% if page.name != 'index.html' %}
      {% include social-links.html %}
    {% endif %}
  </div>
</aside>
