
/**
 * Height to 100%
 */
html,
body {
  height: 100%;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
 .figure, figure{
   background-color: lighten($grey-color-light, 8%);
   border: 1px solid $grey-color-light;
   border-radius: 3px;
   display: inline-block;
   padding: 10px;
   @extend %vertical-rhythm;
 }

figure > img, .figure > img {
    display: block;
    margin: 0 auto;
}

figcaption, .figure > .caption {
    display: block;
    font-size: $small-font-size;
    text-align: center;
    padding-top: 5px;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit / 2;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $text-color;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: $highlight-color;
    }
}


/**
 * Blockquotes
 */
blockquote {
    background-color: lighten($grey-color-light, 8%);
    color: $grey-color-dark;
    border-left: 10px solid $highlight-color;
    padding-left: $spacing-unit / 2;
    //font-size: 18px;
    //letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 14px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    //background-color: lighten($grey-color-light, 8%);
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 8px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.vertical-align-fix {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
