// Social icons
.social-links {
  font-size: $social-icon-font-size;
  text-align: center;
}

.round-button {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  /* future proofing */
  -khtml-border-radius: 7px;
  border: 1px solid;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 5px;
  text-transform: uppercase;
}

#container {
  overflow: auto;
  position: relative;
  min-height: 100%;
  width: 100%;
}

/**
 * Container background image
 */
#containerBac {
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: 0;
  @include blur(3px);
  // width and height are controlled from js
  z-index: 2; // above bannerBac
  &.bgwidth { width: 100%; }
  &.bgheight { height: 100%; }
}

/**
 * Container overlay
 */
#containerOverlay {
  background-color: $overlay-bac-color;
  display: none;
  opacity: 0.4;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3; // below sidebar
}

/**
 * Background for banner below image
 */
#bannerBac {
  background-color: $banner-bac-color;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1; // below banner
}

/**
 * Landing page banner
 */
 #banner {
   color: $banner-color;
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 2; // below containerOverlay

   &.blur{
     @include blur(2px);
   }

   a {
     color: $banner-color;
     text-decoration: none;
     &:hover {
       color: $banner-highlight-color;
     }
   }

   #bannercontent {
     position: absolute;
     z-index: 2;
     width: 100%;
     left: 0;
   }

   .social-links {
     opacity: 0;
     margin: 1.5 * $spacing-unit $sidebar-init-width + 20px 1.5 * $spacing-unit 20px;
     .round-button {
       font-size: 16px;
       vertical-align: text-top;
     }
   }

   .title {
     display: block;
     font-family: $banner-title-font-family;
     font-size: $banner-title-font-size;
     font-weight: bold;
     opacity: 0;
     margin: 0px $sidebar-init-width + 20px 0px 20px;
     text-transform: uppercase;
     text-align: center;
   }

   .description {
     font-size: $banner-desc-font-size;
     opacity: 0;
     margin: 0px $sidebar-init-width + 20px $spacing-unit 20px;
     margin-top: -30px;
     text-align: center;
   }
 }

/**
 * Content
 */
#containerContent{
  margin: 0 auto;
  padding: 0px 0px + $sidebar-init-width 0px 0px;
  max-width: $content-width;
  text-align: left;

  &.blur{
    @include blur(2px);
  }

  .containerContent-header {
    background-color: $article-list-head-bac-color;
    border-bottom: 1px solid $article-list-head-border-color;
    color: $article-list-head-color;
    margin: $spacing-unit 10px $spacing-unit * 1.5 10px;

    .headerblock {

      display: inline-block;
      margin-bottom: 0px;
      vertical-align: baseline;

      &.left {
        font-size: $article-list-headl-font-size;
        width: 40%;
        text-align: left;
      }
      &.right {
        font-size: $article-list-headr-font-size;
        width: 60%;
        text-align: right;
      }
    }
  }

  .postlink {
    display: block;
    border-bottom: 1px dashed $article-list-border-color;
    margin-left: 10px;
    margin-right: 10px;
    @extend %vertical-rhythm;

    .header {
      display: inline-block;
      font-size: $article-list-title-font-size;
      margin-bottom: 0px;
      text-align: left;
      vertical-align: baseline;
      width: 75%;
      a {
        text-decoration: none;
      }
    }
    .date{
      color: $highlight-color;
      display: inline-block;
      margin-bottom: 0px;
      text-align: right;
      vertical-align: baseline;
      width: 25%;
    }
  }

  .post {
    border-bottom: 1px dashed $article-list-border-color;
    display: block;
    margin: $spacing-unit 10px;

    .post-header {
      .title{
        font-size: $post-title-font-size;
        margin-bottom: 0px;
      }
      .date{
        color: $highlight-color;
      }
    }

    .post-content {
      margin-top: $spacing-unit / 2;
    }

    .post-nav{
      @extend %vertical-rhythm;
      .block {
        font-size: $post-nav-font-size;
        display: inline-block;
        vertical-align: baseline;
        width: 50%;

        &.prev {
          text-align: left;
        }
        &.next {
          text-align: right;
        }
      }
      .icon-angle-double-left, .icon-angle-double-right{
        display: block;
        font-size: $post-nav-icon-font-size;
        margin-top: -3px;
      }
      .icon-angle-double-right {
        float: right;
      }
      .icon-angle-double-left {
        float: left;
      }
    }
  }

}

/**
 * sidebar
 */
 #sidebar {
   background-color: $sidebar-bac-color;
   color: $sidebar-color;
   position: fixed;
   height: 100%;
   width: $sidebar-width;
   right: $sidebar-init-width - $sidebar-width;
   top: 0;
   // @include transition(right, 0.3s);
   z-index: 4; // above containerOverlay

   &.visible {
     //right: 0;
     #sidebar-content {
       opacity: 1;
     }
     #menuBtn {
       display: none;
     }
     #menuCloseBtn {
       display: block;
     }
   }

   // Sidebar links
   a {
     color: $sidebar-color;
     text-decoration: none;
     &:hover {
       color: $sidebar-highlight-color;
     }
   }

   #sidebar-content{
     opacity: 0;
     position: absolute;
     width: 100%;
     left:0;
     top:0;
   }

   // menu
   ul {
     display: block;
     list-style: none;
     text-transform: uppercase;
     li {
       display: block;
       padding: 5px 0px;
       text-align: left;
       span {
         color: $sidebar-highlight-color;
       }
     }
   }

   .navBtn {
     display: block;
     font-size: $sidebar-menu-font-size;
     padding: $spacing-unit / 2;
     position: absolute;
     left:0;
     top:0;
   }

   #menuCloseBtn {
     display: none;
   }
 }
