// Social icons
.social-links {
  font-size: $social-icon-font-size;
  text-align: center;
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/**
 * Container background image
 */
#containerBac {
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: 0;
  @include blur(3px);
  // width and height are controlled from js
  z-index: 2; // above bannerBac
}

/**
 * Container overlay
 */
#containerOverlay {
  background-color: $overlay-bac-color;
  display: none;
  opacity: 0.4;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3; // below sidebar
}

/**
 * Background for banner below image
 */
#bannerBac {
  background-color: $banner-bac-color;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1; // below banner
}

/**
 * Landing page banner
 */
 #banner {
   color: $banner-color;
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 2; // below containerOverlay

   &.blur{
     @include blur(2px);
   }

   a {
     color: $banner-color;
     &:hover {
       color: $banner-highlight-color;
     }
   }

   #bannercontent {
     position: absolute;
     z-index: 2;
     width: 100%;
     left: 0;
   }

   .title {
     display: block;
     font-size: $banner-title-font-size;
     font-weight: bold;
     letter-spacing: 1px;
     margin: 20px $sidebar-init-width + 20px 20px 20px;
     text-transform: uppercase;
   }

   .description {
     font-size: $banner-desc-font-size;
     margin: 0 $sidebar-init-width + 20px 0 20px;
     text-align: center;
   }
 }

/**
 * Content
 */
#containerContent{
  overflow: auto;
  margin: 0 auto;
  padding: 0px 0px + $sidebar-init-width 0px 0px;
  height: 100%;
  max-width: $content-width;
  text-align: left;

  &.blur{
    @include blur(2px);
  }

  .containerContent-header {
    background-color: $article-list-head-bac-color;
    color: $article-list-head-color;
    padding: $spacing-unit;
    @extend %vertical-rhythm;

    h1 {
      font-size: $article-list-head-font-size;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 0px;
    }
  }

  .postlink {
    display: block;
    border-bottom: 1px dashed #ccc;
    padding: 0px 10px;
    @extend %vertical-rhythm;

    .header {
      display: inline-block;
      font-size: $article-list-title-font-size;
      margin-bottom: 0px;
      text-align: left;
      vertical-align: baseline;
      width: 75%;
    }
    .date{
      color: $highlight-color;
      display: inline-block;
      text-align: right;
      vertical-align: baseline;
      width: 24%;
    }
  }

}

/**
 * sidebar
 */
 #sidebar {
   background-color: $sidebar-bac-color;
   color: $sidebar-color;
   position: fixed;
   height: 100%;
   width: $sidebar-width;
   right: $sidebar-init-width - $sidebar-width;
   top: 0;
   @include transition(0.3s);
   z-index: 4; // above containerOverlay

   &.visible {
     right: 0;
     #sidebar-content {
       opacity: 1;
     }
     #menuBtn {
       display: none;
     }
     #menuCloseBtn {
       display: block;
     }
   }

   // Sidebar links
   a {
     color: $sidebar-color;
     text-decoration: none;
     &:hover {
       color: $sidebar-highlight-color;
     }
   }

   #sidebar-content{
     opacity: 0;
     position: absolute;
     width: 100%;
     left:0;
     top:0;
   }

   // menu
   ul {
     display: block;
     list-style: none;
     text-transform: uppercase;
     li {
       display: block;
       padding: 5px 0px;
       text-align: left;
       span {
         color: $sidebar-highlight-color;
       }
     }
   }

   .navBtn {
     display: block;
     font-size: $sidebar-menu-font-size;
     padding: 20px 10px;
     position: absolute;
     left:0;
     top:0;
   }

   #menuCloseBtn {
     display: none;
   }
 }
