---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> {% if page.tags != empty %} &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span> {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  <nav class="post-nav" style="display:none">
    <span class="block prev">{% if page.previous.url %}<span class="icon-angle-double-left"></span><a href="{{page.previous.url}}">{{page.previous.title}}</a>{% endif %}</span><span class="block next">{% if page.next.url %}<a href="{{page.next.url}}">{{page.next.title}}</a><span class="icon-angle-double-right"></span>{% endif %}</span>
  </nav>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
